fastapi==0.110.0
langchain==0.1.14
sqlalchemy==2.0.30
psycopg2-binary==2.9.9
python-dotenv==1.0.1
uvicorn==0.29.0
requests
langchain-community==0.0.38
langchain-text-splitters==0.0.2
langchain-groq
jinja2